---
import Layout from "../../../layouts/Layout.astro";
import ModuleSelector from "../../../components/ModuleSelector.svelte";
import DueDateHeatmap from "../../../components/DueDateHeatmap.svelte";

const repo = Astro.locals.repo;
const organization = await repo.organization();
const semesters = await repo.semesters();
const modules = await repo.modules();
const defaultSemester = Astro.cookies.get("defaultSemester")?.value || "all";
const semesterBreak = await repo.currentOrNextSemesterBreak();
---

<Layout>
  <img src={organization.bannerImageURL} alt="Banner" class="w-full h-50 mt-15 object-cover" draggable="false" />
  <h1 class="text-3xl font-semibold mx-35 mt-10">{organization.name}</h1>

  <a
    href={organization.academicCalendarLink}
    target="_blank"
    class:list={[
      "mx-35 font-medium text-xs text-stone-500",
      organization.academicCalendarLink && "hover:text-stone-400",
    ]}
  >
    {
      semesterBreak
        ? semesterBreak.isCurrent
          ? `${semesterBreak.daysToEnd} days until semester resumes`
          : `${semesterBreak.daysToStart} days until semester ${semesterBreak.name} starts`
        : organization.academicCalendarLink
          ? "View academic calendar"
          : ""
    }
  </a>

  <div class="grid grid-cols-[auto_1fr] justify-items-center mt-10 ml-5 pb-60">
    <ModuleSelector filteredSemesterId={defaultSemester} {semesters} {modules} client:load />
    <div class="sticky top-10 h-fit">
      <DueDateHeatmap {modules} client:load />
    </div>
  </div>
</Layout>
