---
import Layout from "../../../layouts/Layout.astro";
import ModuleSelector from "../../../components/ModuleSelector.svelte";
import DueDateHeatmap from "../../../components/DueDateHeatmap.svelte";

const repo = Astro.locals.repo;
const school = await repo.school();
const semesters = await repo.semesters();
const modules = await repo.modules();
---

<Layout>
  <img src={school.bannerImageURL} alt="Banner" class="w-full h-50 mt-15 object-cover" draggable="false" />
  <h1 class="text-3xl font-semibold mx-35 mt-10">{school.name}</h1>

  {/* TODO */}
  <a href="#" class="mx-35 font-medium text-xs text-stone-500 hover:text-stone-400">x days until semester break</a>

  <div class="grid grid-cols-[auto_1fr] justify-items-center mt-10 ml-5 pb-60">
    <ModuleSelector semesters={semesters} {modules} client:load />
    <div class="sticky top-10 h-fit">
      <DueDateHeatmap {modules} client:load />
    </div>
  </div>
</Layout>
